body {
    background-color: rgb(243, 243, 243);
}

.fade-in {
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.title-img {
    height: 300px;
}

header {
    text-align: center;

}

.thebutton {
    text-align: center;
    margin: 0 auto;
}

#win {
    color: green;
    opacity: 100;
-webkit-transition: opacity .5s ease-out;
-moz-transition: opacity .5s ease-out;
-o-transition: opacity .5s ease-out;
transition: opacity .5s ease-out;
}

#lose {
    color: red;
}

.header {
    transition: width 2s;
}

#title {
    text-align: center;
}

#underscore {
    padding: 50px;
    text-align: center;
}

.center {
    margin: auto;
    text-align: center;
}